name: Deploy Cluster

on:
  workflow_dispatch:
  
jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      ### Configure DO Credentials
      - name: GitHub Action for DigitalOcean - doctl
        uses: digitalocean/action-doctl@v2.3.0
        with:
          token: ${{ secrets.DO_PAT }}
      - name: Terraform Plan
        id: plan
        run: |
          terraform init 
          terraform plan -var "do_token=${{ secrets.DO_PAT }}" -no-color -out plan_cache.json
          
      - name: Terraform apply
        run: terraform apply -input=false -no-color -auto-approve plan_cache.json   
        
      - name: Save Terraform state to cache
        uses: actions/cache@v2
        with:
          path: .terraform
          key: ${{ runner.os }}-terraform-${{ hashFiles('**/*.tf') }}
          restore-keys: |
            ${{ runner.os }}-terraform-

      - name: Kubeconf artefact
        uses: actions/upload-artifact@v2
        with:
          name: kubeconf
          path: |
            kube/*
          retention-days: 1
